In [1]:
import numpy as np
import pandas as pd

In [2]:
DNAfull = pd.read_csv('DNAfull.csv', sep = " ", index_col=0)
DNAfull

   A  T  G  C  S  W  R  Y  K  M  B  V  H  D  N
A  5 -4 -4 -4 -4  1  1 -4 -4  1 -4 -1 -1 -1 -2
T -4  5 -4 -4 -4  1 -4  1  1 -4 -1 -4 -1 -1 -2
G -4 -4  5 -4  1 -4  1 -4  1 -4 -1 -1 -4 -1 -2
C -4 -4 -4  5  1 -4 -4  1 -4  1 -1 -1 -1 -4 -2
S -4 -4  1  1 -1 -4 -2 -2 -2 -2 -1 -1 -3 -3 -1
W  1  1 -4 -4 -4 -1 -2 -2 -2 -2 -3 -3 -1 -1 -1
R  1 -4  1 -4 -2 -2 -1 -4 -2 -2 -3 -1 -3 -1 -1
Y -4  1 -4  1 -2 -2 -4 -1 -2 -2 -1 -3 -1 -3 -1
K -4  1  1 -4 -2 -2 -2 -2 -1 -4 -1 -3 -3 -1 -1
M  1 -4 -4  1 -2 -2 -2 -2 -4 -1 -3 -1 -1 -3 -1
B -4 -1 -1 -1 -1 -3 -3 -1 -1 -3 -1 -2 -2 -2 -1
V -1 -4 -1 -1 -1 -3 -1 -3 -3 -1 -2 -1 -2 -2 -1
H -1 -1 -4 -1 -3 -1 -3 -1 -3 -1 -2 -2 -1 -2 -1
D -1 -1 -1 -4 -3 -1 -1 -3 -1 -3 -2 -2 -2 -1 -1
N -2 -2 -2 -2 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [3]:
right = "→"
down = "↓"
diagonal = "↘"

In [4]:
def S(grid, i, j, d, score):
    dirs = ["→", "↘", "↓"]
    s = [ grid[i, j - 1][1] - d, 
          grid[i - 1, j - 1][1] + score,
          grid[i - 1, j][1] - d ]
    return (dirs[s.index(max(s))], max(s))

def highlight_path(x):
    colored_df= x.copy()
    colored_df.loc[:,:] = '' 
    # back
    i = x.shape[0] - 1
    j = x.shape[1] - 1
    colored_df.iloc[:, :] = "background-color: ivory"
    colored_df.iloc[0, :] = "background-color: beige"
    colored_df.iloc[:, 0] = "background-color: beige"
    colored_df.iloc[0, :] = "background-color: beige"
    colored_df.iloc[1, 1] = "background-color: lightblue"
    while ( i != 1 or j != 1):
        colored_df.iloc[i, j] = "background-color: lightblue"
        if x.iloc[i, j][0] == right:
            j -= 1
        elif x.iloc[i, j][0] == down:
            i -= 1
        elif x.iloc[i, j][0] == diagonal:
            i -= 1
            j -= 1
    return colored_df

def needleman_wunsch(x, y, scor_mat, d):
    nucl_x = [""] + [ch for ch in x]
    nucl_y = [""] + [ch for ch in y]
    
    grid = np.empty(shape = (len(nucl_x), len(nucl_y)), dtype = object)
    for i, val in enumerate(range(0, -len(nucl_x) * d, -d)):
        grid[i, 0] = (down, val)
    for i, val in enumerate(range(0, -len(nucl_y) * d, -d)):
        grid[0, i] = (right, val)
    
    # forward 
    for i in range(1, len(nucl_x)):
        for j in range(1, len(nucl_y)):
            grid[i, j] = S(grid, i, j, d, scor_mat[nucl_x[i]][nucl_y[j]])
    # backward
    aligned_x = []
    aligned_y = [] 
    i = grid.shape[0] - 1
    j = grid.shape[1] - 1
    while ( i !=0 or j != 0):
        if grid[i, j][0] == right:
            aligned_x.append("-")
            aligned_y.append(nucl_y[j])
            j -= 1
        elif grid[i, j][0] == down:
            aligned_x.append(nucl_x[i])
            aligned_y.append("-")
            i -= 1
        elif grid[i, j][0] == diagonal:
            aligned_x.append(nucl_x[i])
            aligned_y.append(nucl_y[j])
            i -= 1
            j -= 1
    
    grid_df = pd.DataFrame(data=grid, index=range(len(nucl_x)), columns=range(len(nucl_y)))
    # insert X and Y as col and row
    row = {i : ch for i, ch in enumerate(nucl_y)}
    d = pd.DataFrame(row, index=["Y"])
    grid_df = pd.concat([d, grid_df], ignore_index=False)
    
    grid_df.insert(0, "X", [""] + nucl_x)
        
    grid_df = grid_df.style.apply(highlight_path, axis=None)
    return (aligned_x[::-1], aligned_y[::-1], grid_df)

In [5]:
x = "CTGTCTCCTG"
y = "ATGAGTCTCT"
aligned_x, aligned_y, grid = needleman_wunsch(x, y, DNAfull, 10)

In [6]:
grid

In [7]:
print("".join(aligned_y))
print("".join(aligned_x))

ATGAGTCTCT-
CTGTCTC-CTG

In [8]:
mat = pd.read_csv('mat_ones.csv', sep = " ", index_col=0)
x = "AGACTAGTTAC"
y = "CGAGACGT"
aligned_x, aligned_y, grid = needleman_wunsch(x, y, mat, 1)

In [9]:
grid

In [10]:
print("".join(aligned_y))
print("".join(aligned_x))

CGAGAC--G-T--
--AGACTAGTTAC

In [12]:
mat = pd.read_csv('mat_ones.csv', sep = " ", index_col=0)
x = "TGATTAGAATAC"
y = "CGAGTACTGG"
aligned_x, aligned_y, grid = needleman_wunsch(x, y, mat, 1)
print("".join(aligned_y))
print("".join(aligned_x))

CGAGT--ACTGG
TGATTAGAATAC

In [13]:
grid